/* Generic Items */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #b9c6b9;
    /* background-image: url("outline.png"); */
    background-repeat:repeat-x;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 0%;

    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 12px;
    overflow: auto;
    background-color: #5A7767;

    min-width: 965px;
    z-index: 30;
}

nav{
    float: left;
    margin: 10px;
}

body{
    margin: auto;
}

h1{
    font-size: 5vw;
    text-align: center;
    color: #E0F5CC; /*262C26*/
    padding: 10px;
    padding-top: 90px;
}

h2{
    padding: 20px;
    font-size: 45px;
    color: #DDE7DD;
}

h3{
    color: #DDE7DD;
    padding: 20px;
    font-size: 25px;
}

h4{
    color: #DDE7DD;
}

p{
    font-size: 1.1vw;
    color: #262C26;
    padding: 0px 20px 0px 30px;
}

a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

li{
    list-style-type: circle;
}

img{
    /* padding: 20px; */
}

button{
    
}



/* Classes */
.navLinks {
    margin-right: 20px;
    font-size: 25px;
    color: #262C26;
    /* border-style:solid; */
    padding: 10px;
    cursor: pointer;
}

.navLinks:hover{
    color: #E5DCE4;
    transition: 0.4s;
}

.bigTitle {
    font-size: 8vw;
    color: #E0F5CC;
    text-align: left;
    padding-top: 50px;
}

.bigSubtitle{
    padding-right: 30px;
    font-size: 30px;
    color: #DDE7DD;
}



/* IDs */
#social_links{
    float: right;
}

#greeting{
    position: relative;
    top: 20%;
    left: 66%;
    width: 30%;
}

#summary{
    position: fixed;
    top: 80%;
    left: 5%;
    width: 50%;
}



/* 'Index' only */
.allContainer{
height: 100vh;
scroll-snap-type: y mandatory;
overflow-y: scroll;
}

.pageContainer{
height: 100vh;
scroll-snap-align: start;
}



/* 'Projects' only */
.flexContainer{
    background-color: #DDE7DD;
    border-style: solid;
    border-width: 4px;
    border-color: #5A7767;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.groupTitle{
    position: sticky;
    top: 125px;
    z-index: 5;
    color: #DDE7DD;
    background-color:#5A7767; /*262C26*/

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.projContainer{
    display: flex;
    padding: 30px;
    margin: auto;

    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;   
}

.indTitle{
    position: sticky;
    top: 215px;
    width: auto;
    color: #262C26; /*262C26*/
    background-color: #DDE7DD;

    border-style: solid;
    border-width: 3px;
    border-color: #5A7767;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    z-index: 1;
}

.gallery{
    text-align: center;
}

.galleryBig{
    width: 38vw;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color:#5A7767;
}

.galleryButton{
    width: 9.2vw;
    height: 5vw;
    background-color: #E5DCE4;
    margin: 0;
    border-color:#5A7767;
    border-style: solid;
    border-radius: 10px;
    opacity: 50%;
}

.galleryButton:hover{
    opacity: 100%;
    transition: 0.5s;
}

.menuLinks{
    color: rgb(227, 162, 43);
}

.menuLinks:hover{
    color: aqua;
}

.menuLinks:active{
    color:aqua;
}

#projTitle{
    font-size: 81.5px;
    position: sticky;
    top: -120px;
    color: #262C26;
    background-color: #b9c6b9;
    padding-bottom: 65px;
    z-index: 12;
}

#allProjContainer{
    width: 60%;
    margin-left: 30%;
    scroll-padding-top: 128px;
}

#projMenu{
    float: left;
    position: sticky;
    top: 128px;
    left: 9%;
    width: 15%;
    background-color: #5A7767;
    font-size: 1.8vw;
    color: #DDE7DD;
    padding: 10px 10px 10px 40px;

    border-style: solid;
    border-color: #DDE7DD;
    border-radius: 20px;
}